<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PMSDBConnection" connectionString="data source=.\mssqlserver2014;initial catalog=PMSDB;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
     <add key="SigningThumbPrint" value="A7C9EEFB8C053976EB8FFE0722FDA00F5E757687" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
     <add key="SecurityEndPoint" value="https://Sharif-pc:2012/issue/wstrust/mixed/username" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AudianceUri" value="urn:HPMS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
     <add key="IssuerURI" value="http://sso.irisl.ir" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="LogFilesPath" value="/Logs"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogLevelTypes" value="Information,Warning,Error,AccessControl"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogServicesPriority" value="DB,File,WindowsEvent"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LogFileCreationType" value="yyyyMMdd"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <clientCredentials xdt:Transform="Replace">
            <clientCertificate x509FindType="FindByThumbprint" findValue="FAA68B845F11A2F14592FEBDBCEC119C96A45F42" storeLocation="LocalMachine" storeName="My"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client xdt:Transform="Replace">
      <endpoint address="https://ali:2012/services/UserManagement.svc"
          binding="basicHttpBinding" behaviorConfiguration="certificate_behavior" bindingConfiguration="BasicHttpBinding_IUserManagementService"
          contract="UserManagement.IUserManagementService" name="BasicHttpBinding_IUserManagementService"  />

      <endpoint address="http://localhost:1081/pms/CalculationEngineService.svc"
       binding="basicHttpBinding"
       contract="CalculationEngineRef.ICalculationEngineService" name="BasicHttpBinding_ICalculationEngineService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:1081/pms/CalculationEngineService.svc"
        binding="basicHttpBinding"
        contract="CalculationEngineRef.IPeriodEngineService" name="BasicHttpBinding_IPeriodEngineService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>