<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
    <!--<add name="HomeworkContainer" connectionString="Data Source=C:\Prgs\MITD.Homework\MITD.Homework.Data.EF\Homework.sdf" providerName="System.Data.SqlServerCe.4.0" />-->
    <add name="PMSDBConnection" connectionString="data source=.;initial catalog=PMSDB;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>