<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ICalculationEngineService" />
                <binding name="NetNamedPipeBinding_IPeriodEngineService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/pms/CalculationEngineService/"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ICalculationEngineService"
                contract="CalculationEngineRef.ICalculationEngineService"
                name="NetNamedPipeBinding_ICalculationEngineService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/pms/CalculationEngineService/"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IPeriodEngineService"
                contract="CalculationEngineRef.IPeriodEngineService" name="NetNamedPipeBinding_IPeriodEngineService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>