<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.1.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="PersonnelSoft2005Entities" connectionString="metadata=res://*/DBModel.PersonnelDB.csdl|res://*/DBModel.PersonnelDB.ssdl|res://*/DBModel.PersonnelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=moc-isargaran\sql2005;initial catalog=PersonnelSoft2005;user id=sa;password=Pers1391;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PersonnelSoft2005Entities" connectionString="metadata=res://*/DBModel.PersonnelDB.csdl|res://*/DBModel.PersonnelDB.ssdl|res://*/DBModel.PersonnelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Pers1016;user id=sa;password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient"         type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>