<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PMSDBConnection" connectionString="data source=.;initial catalog=PMSDB;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="LogFilesPath" value="/Logs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LogLevelTypes" value="Information,Warning,Error,AccessControl" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LogServicesPriority" value="DB,File,WindowsEvent" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LogFileCreationType" value="yyyyMMdd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="MITD.PMS.Calculation.Host.CalculationEngineService"  xdt:Transform="Replace">

        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          contract="MITD.PMS.Calculation.Host.ICalculationEngineService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          contract="MITD.PMS.Calculation.Host.IPeriodEngineService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  
  <!--<system.serviceModel>
    <services>
      <service name="MITD.PMS.Calculation.Host.CalculationEngineService" xdt:Transform="Replace">

        <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration=""
          contract="MITD.PMS.Calculation.Host.ICalculationEngineService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration=""
          contract="MITD.PMS.Calculation.Host.IPeriodEngineService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="mex" binding="mexNamedPipeBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
      </service>
    </services>    
  </system.serviceModel>-->

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>