<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ReportServerUrl" value="http://sharif-pc/ReportServer_MSSQLSERVER2014"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="SigningThumbPrint" value="B92FFAEEDB5E10DF01BD1139B4669B520C25A768" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
     <add key="IssuerURI" value="http://sso.irisl.ir" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WebApiSite" value="http://localhost:10653"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:FederationMetadataLocation" value="https://sharif-pc:2012/FederationMetadata/2007-06/FederationMetadata.xml"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:Issuer" value="https://sharif-pc:2012/issue/wsfed"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  
  </appSettings>

  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
 
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
             -->

      </system.web>

  <configSections xdt:Transform="RemoveAll" ></configSections>
  <system.identityModel xdt:Transform="RemoveAll"  ></system.identityModel>
  <system.identityModel.services xdt:Transform="RemoveAll"></system.identityModel.services>
  <system.web>
    <authorization xdt:Transform="RemoveAll">
    </authorization>
  </system.web>
  <system.webServer>
    <modules>
      <add name="WSFederationAuthenticationModule" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="SessionAuthenticationModule" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </modules>
  </system.webServer>


  <!--<system.identityModel xdt:Transform="Replace"  >
    <identityConfiguration saveBootstrapContext="true">
      <audienceUris >
        <add value="urn:HPMS"  />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="http://sso.irisl.ir">
          <keys>
            <add thumbprint="B92FFAEEDB5E10DF01BD1139B4669B520C25A768" />
          </keys>
          <validIssuers>
            <add name="http://sso.irisl.ir" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>

      <certificateValidation certificateValidationMode="None" />
    </identityConfiguration>
  </system.identityModel>

  <system.identityModel.services xdt:Transform="Replace">
    <federationConfiguration>
      <cookieHandler requireSsl="false" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://sharif-pc:2012/issue/wsfed" realm="urn:HPMS" requireHttps="false" />
      <serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="31BE59A86666DBD9A7176F151D3974F3A9BE34AA" storeLocation="LocalMachine" storeName="My" />
      </serviceCertificate>
    </federationConfiguration>
  </system.identityModel.services>-->
  
</configuration>